//Fonts
%fr {
	font-family: "Roboto", sans-serif;
}
%fm {
	font-family: "Merriweather", serif;
}
%fms {
	font-family: "Merriweather Sans", sans-serif;
}

%flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
%flex_align {
	display: flex;
	align-items: center;
}
%flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
%flex_col {
	display: flex;
	flex-direction: column;
}

//Typo
%title {
	@extend %fm;
	font-weight: 900;
	line-height: 100%;
	font-size: 6rem;
}

%subtitle {
	@extend %fr;
	font-weight: 500;
	line-height: 125%;
	font-size: 3.6rem;
}

%text {
	@extend %fr;
	font-weight: 400;
	line-height: 175%;
	font-size: 2rem;
}
