$white: #ffffff;
$black: #000000;

//primary
$primary50: #ffe8d9;
$primary100: #ffd0b5;
$primary200: #ffb088;
$primary300: #ff9466;
$primary400: #f9703e;
$primary500: #f35627;
$primary600: #de3a11;
$primary700: #c52707;
$primary800: #ad1d07;
$primary900: #841003;

// Neutrals
$neutral50: #f5f7fa;
$neutral100: #e4e7eb;
$neutral200: #cbd2d9;
$neutral300: #9aa5b1;
$neutral400: #7b8794;
$neutral500: #616e7c;
$neutral600: #52606d;
$neutral700: #3e4c59;
$neutral800: #323f4b;
$neutral900: #1f2933;

// Accent
$accent50: #e0e8f9;
$accent100: #bed0f7;
$accent200: #98aeeb;
$accent300: #7b93db;
$accent400: #647acb;
$accent500: #4c63b6;
$accent600: #4055a8;
$accent700: #35469c;
$accent800: #2d3a8c;
$accent900: #19216c;

$red50: #ffeeee;
$red100: #facdcd;
$red200: #f29b9b;
$red300: #e66a6a;
$red400: #d64545;
$red500: #ba2525;
$red600: #a61b1b;
$red700: #911111;
$red800: #780a0a;
$red900: #610404;

$yellow50: #fffaeb;
$yellow100: #fcefc7;
$yellow200: #f8e3a3;
$yellow300: #f9da8b;
$yellow400: #f7d070;
$yellow500: #e9b949;
$yellow600: #c99a2e;
$yellow700: #a27c1a;
$yellow800: #7c5e10;
$yellow900: #513c06;

$green50: #e3f9e5;
$green100: #c1eac5;
$green200: #a3d9a5;
$green300: #7bc47f;
$green400: #57ae5b;
$green500: #3f9142;
$green600: #2f8132;
$green700: #207227;
$green800: #0e5814;
$green900: #05400a;
