.pagination {
	@extend %flex_align;
	justify-content: flex-end;
	gap: 0.4rem;
	a {
		cursor: pointer;
		@extend %flex_center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		@include v {
			width: 12px;
			height: 12px;
			font-size: 1rem;
		}
	}
	&__prevBtn {
		@extend %flex_center;
		background: url("/icons/icon-cheveron-left-circle.svg") no-repeat center;
		width: 24px;
		height: 24px;
		border: 1px solid $accent200;
		border-radius: 50%;
	}
	&__nextBtn {
		@extend %flex_center;
		background: url("/icons/icon-cheveron-right-circle.svg") no-repeat center;
		border: 1px solid $accent200;
	}
	&__disabled {
		background-color: $neutral200;
		border-radius: 50%;
		a {
			cursor: not-allowed;
		}
	}
	&__active {
		background-color: $accent400;
		color: $white;
		border-radius: 50%;
	}
}
