.table {
	display: table;
	width: 100%;
	overflow: hidden;
	background-color: $white;
	border-radius: 2rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	@include v {
		table-layout: fixed;
	}
	&__header {
		@extend %flex_between;
		margin-bottom: 2.4rem;
		h3 {
			font-size: 2.4rem;
		}
		@include v {
			flex-direction: column;
			h3 {
				width: 100%;
				text-align: left;
				margin-bottom: 3.2rem;
			}
		}
	}
	&__row {
		display: table-row;
		border-radius: 1.2rem;
		color: $black;
		transition: all 0.2s;
		&:nth-child(2n + 1) {
			background: rgba($neutral200, 0.2);
		}
	}
	&__head {
		height: 4rem;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		background-color: $primary50 !important;
		.table__cell {
			cursor: pointer;
			color: $neutral900;
			@include v {
				font-size: 1rem;
			}
			&:first-child {
				border-radius: 2rem 0 0 0;
			}
			&:last-child {
				border-radius: 0 2rem 0 0;
			}
		}
	}
	&__footer {
		display: table-row;
		height: 4rem;
		width: 100%;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		background-color: $primary50 !important;
		.table__cell {
			background-color: $primary50 !important;
			&:first-child {
				border-bottom-left-radius: 2rem;
				@extend %flex_align;
				span {
					color: $neutral900;
					margin-right: 0.4rem;
				}
				p {
					font-weight: 400;
					color: $neutral400;
				}
			}
			&:last-child {
				border-radius: 0 0 2rem 0;
			}
		}
	}
	&__cell {
		display: table-cell;
		vertical-align: middle;
		height: 6.3rem;
		font-weight: 600;
		font-size: 1.4rem;
		padding: 5px 16px;
		color: $neutral600;
		svg {
			width: 14px;
			height: 14px;
			vertical-align: middle;
			fill: $accent400;
		}
		&:last-child {
			text-align: center;
			min-width: 100px;
		}
		@include v {
			font-size: 1.2rem;
			&:last-child {
				min-width: inherit;
			}
		}
	}
	&__cellFull {
		width: 100%;
	}
	&__btns {
		button {
			display: inline-block;
			@include nl {
				margin-right: 1.6rem;
				@include v {
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

.sm_hide {
	@include v {
		display: none;
	}
}

.m_hide {
	@include c {
		display: none;
	}
}
.l_hide {
	@include x {
		display: none;
	}
}
.xl_hide {
	@include w {
		display: none;
	}
}
